#### Demo for getting historical return data

#### Historical constituents info from https://github.com/fja05680/sp500 ; Risk free data from https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/data_library.html

In [ ]:
import numpy as np
import pandas as pd
import yfinance as yf

In [25]:
name_path = r"./sp500-master/sp500-master/S&P 500 Historical Components & Changes(12-30-2023).csv"
name_data = pd.read_csv(name_path)
name_data["date"] = pd.to_datetime(name_data["date"], format="%Y-%m-%d")
name_data = name_data.set_index("date")
name_data = name_data["2003-10-01" : "2023-10-30"]

rf_path = "./F-F_Research_Data_Factors_daily_CSV/F-F_Research_Data_Factors_daily.csv"
rf_data = pd.read_csv(rf_path, header=3)
rf_data = rf_data.iloc[:-1,:]
rf_data.set_index(pd.to_datetime(rf_data.iloc[:,0], format="%Y%m%d"), inplace=True)
rf_data = rf_data.iloc[:,1:]
rf_data.index.name = "date"

display(name_data, rf_data)

                                                      tickers
date
2003-10-02  A,AABA,AAPL,ABC,ABI,ABKFQ,ABS,ABT,ACV,ADBE,ADC...
2003-10-03  A,AABA,AAPL,ABC,ABI,ABKFQ,ABS,ABT,ACV,ADBE,ADC...
2003-10-06  A,AABA,AAPL,ABC,ABI,ABKFQ,ABS,ABT,ACV,ADBE,ADC...
2003-10-16  A,AABA,AAPL,ABC,ABI,ABKFQ,ABS,ABT,ACV,ADBE,ADC...
2003-10-22  A,AABA,AAPL,ABC,ABI,ABKFQ,ABS,ABT,ACV,ADBE,ADC...
...                                                       ...
2023-08-25  A,AAL,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,ADI,ADM,...
2023-08-30  A,AAL,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,ADM,ADP,...
2023-09-18  A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM...
2023-10-02  A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM...
2023-10-18  A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM...

[1783 rows x 1 columns]

            Mkt-RF   SMB   HML     RF
date
1926-07-01    0.10 -0.25 -0.27  0.009
1926-07-02    0.45 -0.33 -0.06  0.009
1926-07-06    0.17  0.30 -0.39  0.009
1926-07-07    0.09 -0.58  0.02  0.009
1926-07-08    0.21 -0.38  0.19  0.009
...            ...   ...   ...    ...
2023-12-22    0.21  0.64  0.09  0.021
2023-12-26    0.48  0.69  0.46  0.021
2023-12-27    0.16  0.14  0.12  0.021
2023-12-28   -0.01 -0.36  0.03  0.021
2023-12-29   -0.43 -1.12 -0.37  0.021

[25649 rows x 4 columns]

In [26]:
name_srs = pd.Series(name_data.sum().iloc[0].split(","))
name_to_filter = name_srs.value_counts()
name_arr = np.array(name_to_filter.loc[name_to_filter == name_data.shape[0]].index.str.replace(".","-"))
name_arr

array(['HSY', 'MCD', 'K', 'JPM', 'JNJ', 'JCI', 'ITW', 'IPG', 'IP', 'INTU',
       'INTC', 'IFF', 'IBM', 'HUM', 'UNH', 'TGT', 'HPQ', 'KEY', 'ZBH',
       'KLAC', 'LLY', 'MAS', 'MAR', 'LUV', 'SYK', 'LOW', 'LMT', 'SYY',
       'KMB', 'L', 'T', 'TAP', 'YUM', 'KR', 'KO', 'HON', 'HIG', 'HES',
       'EIX', 'ETR', 'ETN', 'EQR', 'EOG', 'EMR', 'EMN', 'EFX', 'F', 'ED',
       'ECL', 'EBAY', 'EA', 'DVN', 'DUK', 'EXC', 'FCX', 'HD', 'GPC',
       'TJX', 'HBAN', 'HAS', 'HAL', 'GWW', 'GS', 'GLW', 'FDX', 'GIS',
       'GE', 'GD', 'FITB', 'TMO', 'FE', 'SWK', 'MCK', 'DRI', 'MCO', 'PLD',
       'PHM', 'PH', 'PGR', 'SO', 'PG', 'PFG', 'PFE', 'PEP', 'PEG', 'PCAR',
       'WAT', 'PAYX', 'OXY', 'ORCL', 'PNC', 'PNW', 'PPG', 'ROK', 'UPS',
       'USB', 'SLB', 'SCHW', 'SBUX', 'VFC', 'SNA', 'PPL', 'RHI', 'RF',
       'VMC', 'QCOM', 'VZ', 'PRU', 'OMC', 'WBA', 'WFC', 'MMM', 'MSI',
       'MSFT', 'MS', 'MRO', 'MRK', 'MO', 'MMC', 'MU', 'MKC', 'XEL', 'MET',
       'STT', 'MDT', 'XOM', 'WY', 'SRE', 'SPG', 'NOC', 'NVDA', 'NUE',
       'NTRS', 'NTAP', 'WHR', 'NSC', 'NKE', 'WMT', 'NI', 'WM', 'NEM',
       'NEE', 'SPGI', 'WMB', 'DTE', 'UNP', 'SHW', 'AVY', 'CINF', 'CL',
       'CLX', 'CMA', 'APD', 'CMCSA', 'CMI', 'APA', 'CMS', 'BMY', 'CNP',
       'COF', 'COP', 'COST', 'CPB', 'AMGN', 'AMAT', 'ALL', 'CSCO', 'TXT',
       'CI', 'CSX', 'TXN', 'BK', 'BSX', 'C', 'CAG', 'CAH', 'CAT', 'BF-B',
       'CB', 'BEN', 'BDX', 'CCL', 'BBY', 'TRV', 'BAX', 'BAC', 'BA',
       'TROW', 'AZO', 'AXP', 'AIG', 'AON', 'AEE', 'DIS', 'DE', 'ADI',
       'ADM', 'ADP', 'D', 'CVX', 'CVS', 'ADSK', 'DGX', 'DHR', 'ADBE',
       'AEP', 'AES', 'ABT', 'CTAS', 'AFL', 'DOV', 'AAPL'], dtype=object)

In [27]:
name_df = pd.DataFrame()
for i in range(name_arr.shape[0]):
    temp = yf.Ticker(name_arr[i])
    name_df = pd.concat([name_df,temp.history(start="2003-10-01", end="2023-10-30")["Close"]], axis=1)
name_df.columns = name_arr
name_df.reset_index(inplace=True)
name_df["index"] = pd.to_datetime(name_df["index"].dt.strftime("%Y-%m-%d"), format="%Y-%m-%d")
name_df.set_index("index",drop=True,inplace=True)
name_df

,HSY,MCD,K,JPM,JNJ,JCI,ITW,IPG,IP,INTU,...,DGX,DHR,ADBE,AEP,AES,ABT,CTAS,AFL,DOV,AAPL
index,,,,,,,,,,,,,,,,,,,,,
2003-10-01,23.182718,13.868378,16.486298,20.095829,28.643190,21.662127,21.354233,9.591371,17.769346,21.962576,...,22.745403,11.755530,19.867834,13.195671,5.354248,11.893685,29.447769,10.674015,16.322577,0.314701
2003-10-02,23.188982,13.908482,16.422958,20.084358,28.660273,21.860668,21.666782,9.331428,17.837046,21.248634,...,22.952732,11.855282,19.802937,13.373986,5.347187,11.996548,29.196272,10.610023,16.498526,0.311371
2003-10-03,23.301809,13.897024,16.569115,20.170393,28.552032,22.174164,21.821476,9.358088,17.548185,21.770708,...,22.882383,12.059469,20.401970,13.316031,5.608541,11.851977,30.621424,10.693209,16.927122,0.328324
2003-10-06,23.480446,13.805372,16.539885,20.388329,28.580515,22.226406,21.884619,9.338093,17.602341,21.601151,...,22.704683,12.254304,20.486832,13.427488,5.537903,11.882552,30.659513,10.626022,17.039904,0.337407
2003-10-07,23.549400,14.160530,16.564243,20.698019,28.546329,22.320454,21.815166,9.338093,17.584297,21.779634,...,22.586218,12.266774,20.611629,13.320498,5.629732,11.732429,31.147263,10.626022,17.139162,0.351485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-23,188.047699,253.232666,48.834824,140.135880,150.187286,48.068985,221.268860,27.914688,31.947285,503.271912,...,120.812675,203.839691,540.409973,72.524048,13.703410,95.319519,498.222626,76.762024,133.362717,172.772385
2023-10-24,189.131058,255.737640,49.715176,140.304825,150.028549,48.386795,221.875626,27.617722,32.785149,505.059235,...,122.931503,196.637115,539.559998,73.898399,14.222181,94.354179,504.546661,77.358932,131.848251,173.211807
2023-10-25,193.285614,256.493134,50.407585,139.539551,150.365860,47.771030,224.770187,27.409847,32.647148,482.303497,...,124.811584,192.451431,521.140015,74.511421,14.369005,93.120140,500.247498,77.856354,129.606445,170.874893
2023-10-26,187.898621,254.306229,50.318562,139.897339,147.816269,48.555630,222.969788,27.538532,32.410576,478.728882,...,130.571198,193.480377,514.280029,74.916794,14.584343,93.528175,497.364777,77.120163,130.074738,166.670425
2023-10-27,182.988708,254.236649,49.853661,134.858414,144.443298,47.880280,222.074570,27.281162,32.666862,478.798767,...,127.009987,187.686356,508.119995,74.086258,14.437522,92.403603,495.160339,76.095474,127.952484,167.998672

In [28]:
return_df = (name_df / name_df.shift(1) - 1).dropna()
return_df = return_df.join((rf_data["RF"] / 100).rename("risk_free"))
stock_return = return_df.iloc[:,:-1]
risk_free = return_df.iloc[:,-1]
excess_return = stock_return.apply(lambda x : x - risk_free)
excess_return

,HSY,MCD,K,JPM,JNJ,JCI,ITW,IPG,IP,INTU,...,DGX,DHR,ADBE,AEP,AES,ABT,CTAS,AFL,DOV,AAPL
index,,,,,,,,,,,,,,,,,,,,,
2003-10-02,0.000240,0.002862,-0.003872,-0.000601,0.000566,0.009135,0.014606,-0.027132,0.003780,-0.032537,...,0.009085,0.008455,-0.003296,0.013483,-0.001349,0.008618,-0.008570,-0.006025,0.010749,-0.010613
2003-10-03,0.004836,-0.000854,0.008870,0.004254,-0.003807,0.014311,0.007110,0.002827,-0.016224,0.024540,...,-0.003095,0.017193,0.030220,-0.004363,0.048847,-0.012081,0.048783,0.007810,0.025948,0.054418
2003-10-06,0.007636,-0.006625,-0.001794,0.010775,0.000968,0.002326,0.002864,-0.002167,0.003056,-0.007818,...,-0.007796,0.016126,0.004129,0.008340,-0.012625,0.002550,0.001214,-0.006313,0.006633,0.027635
2003-10-07,0.002907,0.025696,0.001443,0.015160,-0.001226,0.004201,-0.003204,-0.000030,-0.001055,0.008233,...,-0.005248,0.000988,0.006062,-0.007998,0.016552,-0.012664,0.015879,-0.000030,0.005795,0.041692
2003-10-08,-0.007483,-0.023088,-0.001795,-0.013330,-0.006417,-0.000498,0.000983,-0.018588,0.008697,-0.008020,...,-0.000194,-0.016675,0.019587,-0.000699,-0.002539,-0.005954,0.000704,0.003583,0.006287,-0.006920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-23,-0.009323,-0.013228,-0.015174,-0.013851,-0.010733,-0.006574,-0.005175,0.018208,-0.027813,-0.005695,...,-0.018637,-0.008858,-0.001227,-0.000210,0.012082,-0.010543,0.002379,-0.005624,-0.006447,0.000484
2023-10-24,0.005551,0.009682,0.017817,0.000996,-0.001267,0.006402,0.002532,-0.010848,0.026016,0.003341,...,0.017328,-0.035545,-0.001783,0.018740,0.037647,-0.010337,0.012483,0.007566,-0.011566,0.002333
2023-10-25,0.021757,0.002744,0.013718,-0.005664,0.002038,-0.012936,0.012836,-0.007737,-0.004419,-0.045266,...,0.015084,-0.021496,-0.034349,0.008085,0.010114,-0.013289,-0.008731,0.006220,-0.017213,-0.013702
2023-10-26,-0.028081,-0.008736,-0.001976,0.002354,-0.017166,0.016214,-0.008220,0.004485,-0.007456,-0.007622,...,0.045936,0.005137,-0.013373,0.005230,0.014776,0.004172,-0.005973,-0.009666,0.003403,-0.024816
2023-10-27,-0.026341,-0.000484,-0.009449,-0.036229,-0.023029,-0.014119,-0.004225,-0.009556,0.007697,-0.000064,...,-0.027484,-0.030156,-0.012188,-0.011296,-0.010277,-0.012234,-0.004642,-0.013497,-0.016526,0.007759

In [29]:
excess_return.to_csv("./return_data.csv")